<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrado de película</title>
</head>
<body>
    <figure>
        <img src="/img/Pelicula.webp" alt="Pelicula">
    </figure>
    <h1>Estas seguro que queres borrar la siguiente película: <%= Movie.title %></h1>
    <form action="/movies/delete/ <%= Movie.id %>?_method=PUT" method="POST">

        <br>
        <button class="botonBorrar" type="submit">Borrar película</button>

        <a href="/movies">Listado de Películas</a>
    </form>
</body>
</html>